@{
    Layout = "~/Views/Shared/_SelectableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            #selectable3 .ui-selecting
            {
                background: #FECA40;
            }
            #selectable3 .ui-selected
            {
                background: #F39814;
                color: white;
            }
            #selectable3
            {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            #selectable3 li
            {
                margin: 3px;
                padding: 1px;
                float: left;
                width: 100px;
                height: 80px;
                font-size: 4em;
                text-align: center;
            }
        </style>
        <ol id="selectable3">
            <li class="ui-state-default">1</li>
            <li class="ui-state-default">2</li>
            <li class="ui-state-default">3</li>
            <li class="ui-state-default">4</li>
            <li class="ui-state-default">5</li>
            <li class="ui-state-default">6</li>
            <li class="ui-state-default">7</li>
            <li class="ui-state-default">8</li>
            <li class="ui-state-default">9</li>
            <li class="ui-state-default">10</li>
            <li class="ui-state-default">11</li>
            <li class="ui-state-default">12</li>
        </ol>
    </div>
</div>
<div class="demo-description">
    <p>
        To arrange selectable items as a grid, give them identical dimensions and float
        them using CSS.</p>
</div>
