@{
    Layout = "~/Views/Shared/_ProgressBarLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            .ui-progressbar .ui-progressbar-value
            {
                background-image: url('../../Content/images/progressbar/pbar-ani.gif');
            }
        </style>
        <div id="progressbar2" style="height:22px;">
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        This progressbar has an animated fill by setting the <code>background-image</code>
        on the <code>.ui-progressbar-value</code> element, using css.
    </p>
</div>
