@{
    Layout = "~/Views/Shared/_ProgressbarLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <div id="progressbar1"></div>
    </div>
</div>
<div class="demo-description">
    <p>Default determinate progress bar.</p>
</div>
