@{
    Layout = "~/Views/Shared/_PositionLayout.cshtml";
}
<style>
    html, body
    {
        margin: 0;
        padding: 0;
    }
</style>
<div id="demo-frame">
    <div class="demo">
        <img src="/demos/position/images/earth.jpg" />
        <img src="/demos/position/images/flight.jpg" />
        <img src="/demos/position/images/rocket.jpg" />
        <a id="previous" href="#">Previous</a> <a id="next" href="#">Next</a>
    </div>
</div>
<div class="demo-description">
    <p>
        A prototype for the <a href="http://wiki.jqueryui.com/Photoviewer">Photoviewer</a>
        using Position to place images at the center, left and right and cycle them.
        <br />
        Use the links at the top to cycle, or click on the images on the left and right.
        <br />
        Note how the images are repositioned when resizing the window.
        <br />
        Warning: Doesn't currently work inside the demo viewer; open in a new window instead!</p>
</div>
