@{
    Layout = "~/Views/Shared/_ButtonLayout.cshtml";
}
<style>
    #format {
        margin-top: 2em;
    }
</style>

<div id="demo-frame">
    <div class="demo">
        <input type="checkbox" id="button5" /><label for="button5">Toggle</label>

        <div id="format">
            <input type="checkbox" id="check1" /><label for="check1">B</label>
            <input type="checkbox" id="check2" /><label for="check2">I</label>
            <input type="checkbox" id="check3" /><label for="check3">U</label>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>A checkbox is styled as a toggle button with the button widget. The label element associated with the checkbox is used for the button text.</p>
    <p>This demo also demonstrates three checkboxes styled as a button set by calling <code>.buttonset()</code> on a common container.</p>
</div>
