@{
    Layout = "~/Views/Shared/_ButtonLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <button id="button1">A button element</button>

        <input id="button2" type="submit" value="A submit button">

        <a id="button3" href="#">An anchor</a>
    </div>
</div>
<div class="demo-description">
    <p>Examples of the markup that can be used for buttons: A button element, an input of type submit and an anchor.</p>
</div>
