@{
    Layout = "~/Views/Shared/_ButtonLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <button id="button6">Button with icon only</button>
        <button id="button7">Button with icon on the left</button>
        <button id="button8">Button with two icons</button>
        <button id="button9">Button with two icons and no text</button>
    </div>
</div>
<div class="demo-description">
    <p>Some buttons with various combinations of text and icons, here specified via metadata.</p>
</div>
