@{
    Layout = "~/Views/Shared/_ButtonLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <div>
            <button id="rerun">Run last action</button>
            <button id="select">Select an action</button>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>An example of a split button built with two buttons: A plan button with just text, one with only a primary icon and no text. Both are grouped together in a set.</p>
</div>
