@{
    Layout = "~/Views/Shared/_ResizableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            #resizable51, #resizable52
            {
                width: 150px;
                height: 150px;
                padding: 0.5em;
            }
            #resizable51 h3, #resizable52 h3
            {
                text-align: center;
                margin: 0;
            }
        </style>
        <h3 class="docs">
            Time delay (ms):</h3>
        <div id="resizable51" class="ui-widget-content">
            <h3 class="ui-widget-header">
                Time</h3>
        </div>
        <h3 class="docs">
            Distance delay (px):</h3>
        <div id="resizable52" class="ui-widget-content">
            <h3 class="ui-widget-header">
                Distance</h3>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Delay the start of resizing for a number of milliseconds with the <code>delay</code>
        option; prevent resizing until the cursor is held down and dragged a specified number
        of pixels with the <code>distance</code> option.</p>
</div>
