@{
    Layout = "~/Views/Shared/_ResizableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            #resizable3
            {
                width: 200px;
                height: 150px;
                padding: 5px;
            }
            #resizable3 h3
            {
                text-align: center;
                margin: 0;
            }
        </style>
        <div id="resizable3" class="ui-widget-content">
            <h3 class="ui-widget-header">
                Resize larger / smaller</h3>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Limit the resizable element to a maximum or minimum height or width using the <code>
            maxHeight</code>, <code>maxWidth</code>, <code>minHeight</code>, and <code>minWidth</code>
        options.</p>
</div>
