@{
    Layout = "~/Views/Shared/_ResizableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            #resizable10
            {
                width: 150px;
                height: 150px;
                padding: 0.5em;
            }
            #resizable10 h3
            {
                text-align: center;
                margin: 0;
            }
            .ui-resizable-helper
            {
                border: 2px dotted #00F;
            }
        </style>
        <div id="resizable10" class="ui-widget-content">
            <h3 class="ui-widget-header">
                Helper</h3>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Display only an outline of the element while resizing by setting the <code>helper</code>
        option to a CSS class.</p>
</div>
