@{
    Layout = "~/Views/Shared/_ResizableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            #resizable6
            {
                width: 150px;
                height: 150px;
                padding: 0.5em;
            }
            #resizable6 h3
            {
                text-align: center;
                margin: 0;
            }
        </style>
        <div id="resizable6" class="ui-widget-content">
            <h3 class="ui-widget-header">
                Grid</h3>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        Snap the resizable element to a grid. Set the dimensions of grid cells (height and
        width in pixels) with the <code>grid</code> option.</p>
</div>
