@{
    Layout = "~/Views/Shared/_ResizableLayout.cshtml";
}
<div id="demo-frame">
    <div class="demo">
        <style>
            .ui-resizable-se
            {
                bottom: 17px;
            }
        </style>
        <textarea id="resizable11" rows="5" cols="20"></textarea>
    </div>
</div>
<div class="demo-description">
    <p>
        Display only an outline of the element while resizing by setting the <code>helper</code>
        option to a CSS class.</p>
</div>
