@{
    Layout = "~/Views/Shared/_TabsLayout.cshtml";
}
<style>
	#dialog11 label, #dialog11 input { display:block; }
	#dialog11 label { margin-top: 0.5em; }
	#dialog11 input, #dialog11 textarea { width: 95%; }
	#tabs6 { margin-top: 1em; }
	#tabs6 li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	#add_tab { cursor: pointer; }
	</style>
<div id="demo-frame">
    <div class="demo">
        <div id="dialog11" title="Tab data">
            <form>
            <fieldset class="ui-helper-reset">
                <label for="tab_title">Title</label>
                <input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" />
                <label for="tab_content">Content</label>
                <textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all"></textarea>
            </fieldset>
            </form>
        </div>

        <button id="add_tab">Add Tab</button>

        <div id="tabs6">
            <ul>
                <li><a href="#tabs6-1">Nunc tincidunt</a> <span class="ui-icon ui-icon-close">Remove Tab</span></li>
            </ul>
            <div id="tabs6-1">
                <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
            </div>
        </div>

    </div>
</div>
<div class="demo-description">
    <p>Simple tabs adding and removing.</p>
</div>
