@{
    Layout = "~/Views/Shared/_SliderLayout.cshtml";
}
<style>
    #demo-frame > div.demo {
        padding: 10px !important;
    }
</style>

<div id="demo-frame">
    <div class="demo">
        <div id="slider1"></div>
    </div>
</div>
<div class="demo-description">
    <p>The basic slider is horizontal and has a single handle that can be moved with the mouse or by using the arrow keys.</p>
</div>
